<h2><%=@description%></h2>
<% if flash[:notice] %>
	<div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
<% end %>
<% if flash[:error] %>
	<div class="alert alert-danger"><i class="icon-exclamation-sign"></i><%= flash[:error] %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
<% end %>
<div class="alert alert-info" id="sending-progress">
 <strong>Sending emails!</strong>  Please wait...
</div>
<%= form_tag('/tools/email/' + @type + '/send') do %>
  <div>
  <%= label_tag :subject, "Subject" %>
  <%= text_field_tag :subject %>
  <%= label_tag :content, "Message" %>
  <%= cktext_area nil, :content, :ckeditor => {:width=>'500', :height=> '175', :toolbar => 'mini'} %>
  </div>
  <div class="form-actions">
  <%= submit_tag("Send", :class => "btn btn-primary", :id=>"send") %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
  	$('#send').click(function(){
  		$("#sending-progress").show();
  	})
  });
</script>