<div class="row">
  <div class="span4">
<ul id="roster_filter" class="nav nav-pills">
  <li class="active">
    <a id="active" href="#">Active</a>
  </li>
  <li><a id="member" href="#">Members</a></li>
  <li><a id="visitor" href="#">Visitors</a></li>
  <li><a id="inactive" href="#">Inactive</a></li>
</ul>
</div>
<div class="span8">
  <%= link_to 'Add New Couple', new_couple_path, :class => 'btn btn-small btn-success' %>
</div>
  </div>
<% if flash[:notice] %>
    <div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %></div>
<% end %>
<% if @couples.count == 0 %>
<div class="alert alert-info">
  There are no couples.
</div>
<%else%>
<table id="roster" class="table table-striped">
  <thead>
  <tr class="header">
    <th>Name</th>
    <th>Email</th>
    <th>Cell Phone</th>
    <th>Birthday</th>
    <th>Address</th>
    <th>Home Phone</th>
    <th>Anniversary</th>
  </tr>
</thead>
<tbody>
<% @couples.each do |c| %>
  <tr class="<%=c.is_active ? 'active ' + (c.is_member ? 'member' : 'visitor') : 'inactive'%>">
    <td><%= link_to c.full_name, edit_couple_path(c)%></td>
    <td><%=mail_to c.husband_email%><br/><%=mail_to c.wife_email%></td>
    <td><%=c.husband_phone%><br/><%=c.wife_phone%></td>
    <td><%=c.husband_birthday.try(:strftime, '%m/%d')%><br/><%=c.wife_birthday.try(:strftime, '%m/%d')%></td>
    <td><%=c.address%><br/><%=c.city_state_zip%></td>
    <td><%=c.home_phone%></td>
    <td><%=c.anniversary.try(:strftime, '%m/%d')%></td>
     <td>
      <% if c.is_active %>
      <%= link_to 'Inactivate', c, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $('#active,#member,#visitor,#inactive').click(function(){
      filterRoster($(this).attr('id'));
    }); 

    filterRoster('active');

  });

  function filterRoster(showRowClass){
      $('#roster_filter li').removeClass('active');
      $('#' + showRowClass).closest('li').addClass('active');
      $('#roster tbody tr').hide();
      $('#roster tbody tr.' + showRowClass).css('display', 'table-row');
   }
</script>
