<div data-role="page">
	 <div data-role="header">
	 	<a data-rel="back" data-icon="arrow-l">Back</a>
      <h1>Veritas Class</h1>
  </div>
	<div data-role="content">	
		<h1><%=@couple.full_name%></h1>
		<div>
			<%=@couple.address%><br/>
			<%=@couple.city_state_zip%>
		</div>
		<h2><%=@couple.husband_name%></h2>
		<div>
				<%=@couple.husband_phone%><br/>
				<%=@couple.husband_email%>
		</div>
		<h2><%=@couple.wife_name%></h2>
		<div>
				<%=@couple.wife_phone%><br/>
				<%=@couple.wife_email%>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

