<div id="login-container">
	<%= image_tag(Setting.cached.logo_url) if Setting.cached.logo? %>
	<h1><%=Setting.cached.group_name%></h1>
	<%=Setting.cached.group_description%>
	<hr/>
	<% if flash[:error] %>
	<div class="alert alert-error"><i class="icon-remove-sign"></i><%= flash[:error] %></div>
	<% end %>
	<%= form_tag login_path, :class => 'form-horizontal' do |f| %>
	<div class="control-group" id="password_fields">
		<%= label_tag :password, nil, :class => 'control-label' %>
		<div class="controls">
			<%= password_field_tag :password %>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<%= submit_tag "Login", :class => 'btn' %>
			<div id="remember"><%= check_box_tag :remember_me, 1, params[:remember_me] %><label for="remember_me">Stay logged in</label></div>
		</div>
	</div>
	<% end %>
	<hr/>
	<p>Having trouble?  Send an email to <a href='mailto:<%=Setting.cached.contact_email%>'><%=Setting.cached.contact_email%></a> for help.</p>
</div>
<script type="text/javascript">
$(function() {
	$('#password').focus();
});
</script>