<p><strong><%= @family.full_name_first %><strong>,</p>
<p>You signed up for <strong><%=@signup.title%></strong>, which is coming up on <strong><%= @slot.date.strftime('%A, %B %d') %></strong>.</p>
<% if !@slot.notes.blank? %>
<div>
	<strong>Signup Notes:</strong><%=@slot.notes%>
</div>
<% end %>
<div>
<strong>Details:</strong><%= @signup.details %>
</div>
<div style="padding: 10px; background-color: #f9f6c5;">
	Website: <a href="http://<%=@host%>/">http://<%=@host%>/</a>
</div>