<p><strong><%= @contact.full_name_first %><strong>,</p>
<p>This is a reminder that you signed up for <strong><%=@signup.title%></strong>, which is coming up on <strong><%= @slot.date.strftime('%A, %B %d') %></strong>.</p>
<% if !@slot.notes.blank? %>
<p><strong>Signup Notes:</strong></p>
<%=@slot.notes%>
<% end %>
<% if !@signup.details.blank? %>
<p><strong>Details:</strong></p>
<%= @signup.details %>
<% end %>
			