<div id="signup_details">
	<%= @signup.details%>
	<% if !@signup.send_reminder_email_days.blank? %>
	<div id="reminder_note">Note: A reminder email will be sent <%=@signup.send_reminder_email_days%> days before the signup date.</div>
	<% end %>
</div>
<%= form_for(@signup) do |f| %>
	<table class="table table-striped" id="slots">
		<tr><th>Date</th><th><span class="badge badge-warning"><%=@signup.unslotted_count%></span> slots open</th><th>Comments</th></tr>
		<%= f.fields_for :signup_slots do |slot| %>
		<tr class="<%= slot.object.contact_id.nil? ? 'success' : ''%>">
			<td><%=slot.object.date.strftime('%a, %b %d')%></td>
			<td><%= slot.select(:contact_id,  options_for_select(@contacts.map{ |f| [f.full_name, f.id, {'data-has-email'=> f.has_email}]}, selected_key = slot.object.contact_id), {:include_blank => '--OPEN--'}, { :class => 'contact' })%>
				<div class="messages"></div>
			</td>
			<td><%= slot.text_field :notes, :class=>'notes' %></td></tr>
			<% end %>
		</table>
<% end %>
<script type="text/javascript">
$(function() {
  Signups.initSignup();
});
</script>