<div id="wrapper">
	<div class="text-center">
		<%= image_tag(Setting.cached.banner_url, :id => 'banner') if Setting.cached.banner? %>
	</div>
	<% if flash[:notice] %>
		<div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %><a class="close" data-dismiss="alert" href="#">&times;</a></div>
	<% end %>
	<div id="inner-content" class="row">
		<div class="span4">
			<%= render 'contacts'%>			
		</div>
		<div class="span4">
			<%= render 'signups' %>
			<%= render 'podcasts' %>
		</div>
		<div class="span4">
			<%= render 'announcements' %>
			<%= render 'calendar' %>
		</div>
	</div>

	<script type="text/javascript">
	$(function() {
		Default.init();
	});
	</script>