<div id="wrapper">
	<div id="member-logout" class="pull-right"><%=link_to 'Logout', '/logout' %></div>
	<div class="text-center">
		<%= image_tag(Setting.cached.banner_url, :id => 'banner') if Setting.cached.banner? %>
	</div>
	<div id="inner-content" class="row">
		<div class="span4">
			<%= render 'signups' %>
			<%= render 'calendar' %>
		</div>
		<div class="span4">
			<%= render 'podcasts' %>
		</div>
		<div class="span4">
			<%= render 'members'%>
		</div>
	</div>

	<script type="text/javascript">
	$(function() {
		Default.init();
	});
	</script>