<!-- Login -->
<div data-role="page" id="main_page">
    <div data-role="header" data-position="fixed" data-id="head" data-theme="b">
        <a data-role="button" href="/logout" class="ui-btn-right">
            Logout
        </a>
      <h1><%=Setting.cached.group_name%></h1>
  </div>
    <div data-role="content-primary">
        <ul data-role="listview">
            <li><a href="#contacts_page">Contacts</a></li>
            <% if @podcasts.length > 0 %>
            <li><a href="#podcast_page">Podcast</a></li>
            <% end %>
            <% if Setting.cached.google_calendar_enabled? %>
                <li><a href="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=490&wkst=1&bgcolor=%23FFFFFF&src=<%=u Setting.cached.google_calendar_username%>&color=%23A32929&ctz=America%2FChicago">Calendar</a></li>
            <% else %>
                <li><a href="#calendar_page">Calendar</a></li>
            <% end %>
            <% if is_admin? %>
            <li><a data-ajax="false" href="<%=attendances_url%>">Attendance<%= image_tag "lock_icon.png", :class => 'ui-li-icon' %></a></li>
            <% end %>
             <li><a data-ajax="false" href="/?mobile=0">Switch to Full Site</a></li>
        </ul>
    </div>
</div>
<div data-role="page" id="contacts_page">
     <div data-role="header" data-position="fixed" data-id="head" data-theme="b">
        <a data-rel="back" data-icon="arrow-l">Back</a>
      <h1>Contacts</h1>
  </div>
    <div data-role="content">   
        <ul data-role="listview" data-autodividers="true">
            <% @contacts.each do |c|%>
            <li><a href="<%=contact_url(c)%>"><%=c.full_name%></a></li>
            <% end %>
        </ul>
    </div><!-- /content -->
</div><!-- /page -->
<div data-role="page" id="podcast_page">
     <div data-role="header" data-position="fixed" data-id="head" data-theme="b">
        <a href="/" data-icon="arrow-l">Back</a>
      <h1>Podcast</h1>
  </div>
    <div data-role="content">   
        <ul data-role="listview">
            <% @podcasts.each do |p|%>
            <li>
                <a href="<%=podcast_url(p)%>">
                    <h3><%=p.title%></h3>
                    <p><%=p.date.strftime('%m/%d/%Y')%> - <%=p.speaker%></p>
                </a>
            </li>
            <% end %>
        </ul>
    </div><!-- /content -->
</div><!-- /page -->
<div data-role="page"  id="calendar_page">
    <div data-role="header" data-position="fixed" data-id="head" data-theme="b">
        <a data-rel="back" data-icon="arrow-l">Back</a>
        <h1>Calendar</h1>
    </div>
    <div data-role="content">   
        <ul data-role="listview">
            <% @upcoming_dates.group_by { |d| d[:date] }.each do |d, event| %>
                <li data-role="list-divider"><%=d.strftime('%A, %B %d') %></li>
                <% event.each do |e| %>
                <li>
                    <h3><%=e[:description]%></h3>
                </li>
                <% end %>
            <% end %>
        </ul>
    </div><!-- /content -->
</div><!-- /page -->


