<h1>Contact <%=@contact_queue_item.contact.full_name_first%></h1>
<%= form_for(@contact_queue_item) do |f| %>
<% if @contact_queue_item.errors.any? %>
<div class="alert alert-error">
	<ul>
		<% @contact_queue_item.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
	<a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<% end %>
<div class="row">
	<div class="span6">
		<%= f.label :completed_by, "Completed By" %>
		<%= f.text_field :completed_by %>
		<%= f.label :completed_notes, "Contact Notes" %>
		<%= f.text_area :completed_notes, :rows => 3, :cols =>"30" %>
	</div>
	<div class="span6">
			<div class="well">
				<%= render :partial => 'contacts/show', :locals => { :contact => @contact_queue_item.contact }  %>
			</div>	
	</div>
</div>
<div class="form-actions">
	<%= f.submit "Complete", :class => "btn btn-primary" %>
	<%= link_to 'Cancel', contact_queue_items_path, :class => "btn" %>
</div>
<% end %>
<script type="text/javascript">
$(function() {
	$('#contact_queue_item_completed_notes').focus();
});
</script>