<% if flash[:notice] %>
<div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %>
<a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<% end %>
  <% if @pending.count == 0 %>
  <div class="alert alert-info">
    There are no Contact Queue items.  Contact Queue configuration can be managed on the <a href="<%= settings_path %>">Settings</a> page.
  </div>
  <%else%>
  <table class="table table-striped">
    <thead>
      <tr>
       <th>Date Added</th>
       <th>Name</th>
       <th>Last Sunday Attendance</th>
       <th>Reason</th>
       <th></th>
     </tr>
   </thead>
   <tbody>
    <% @pending.each do |pending| %>
    <tr class="<%= !pending.contact.is_member ? 'warning' : ''%>">
      <td><%=pending.created_at.try(:strftime, '%m/%d/%Y')%></td>
      <td><%=pending.contact.full_name%></td>
      <td><%=pending.contact.last_attendance_date.try(:strftime, '%m/%d/%Y')%></td>
      <td><%=pending.reason%></td>
      <td><%= link_to 'Contact', edit_contact_queue_item_url(pending), :class => 'btn btn-primary' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<% if @completed.count > 0 %>
<div id="completed">
  <fieldset><legend>Recently Completed</legend>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date Contacted</th>
          <th>Name</th>
          <th>Reason</th>
          <th>Completed By</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <% @completed.each do |completed| %>
        <tr>
          <td><%=completed.completed_date.strftime('%m/%d/%Y')%></td>
          <td><a href="<%=edit_contact_url(completed.contact.id)%>"><%=completed.contact.full_name%></a></td>
          <td><%=completed.reason%></td>
          <td><%=completed.completed_by%></td>
          <td><%=completed.completed_notes%></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%end%>