<%= form_for(@family) do |f| %>
<% if @family.errors.any? %>
<div class="alert alert-error">
  <ul>
    <% @family.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<% if is_admin? %>
<div class="admin_fields">
  <ul class="inline">
   <li>
     <%= f.label :is_member, "Members", :class => "checkbox inline" %>
     <%= f.check_box :is_member %> </li>
     <li><%= f.label :is_active, "Active", :class => "checkbox inline" %>
       <%= f.check_box :is_active %></li>
       <li><%= f.label :send_welcome_email_on_save, "Send Welcome Email", :class => "checkbox inline" %>
         <%= f.check_box :send_welcome_email_on_save, {}, "true", "false" %></li>
         <% if @family.new_record? %>
         <li><%= f.label :mark_initial_attendance_on_create, "Mark Attendance", :class => "checkbox inline" %>
           <%= f.check_box :mark_initial_attendance_on_create, {}, "true", "false" %></li>
           <% end %>
           <% if !@family.new_record? && !@family.last_attendance_date.nil? %>
           <div class="pull-right">
            First Attendance: <%= @family.first_attendance_date.try(:strftime, '%m/%d/%y') %>
            <br/>
            Last Attendance: <%= @family.last_attendance_date.try(:strftime, '%m/%d/%y') %></div>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="row">
          <div class="span3">
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
            <%= f.label :husband_name %>
            <%= f.text_field :husband_name, :class => 'husband_field' %>
            <%= f.label :wife_name %>
            <%= f.text_field :wife_name, :class => 'wife_field' %>
          </div>
          <div class="span3">
            <%= f.label :address %>
            <%= f.text_field :address %>
            <%= f.label :city_state_zip %>
            <%= f.text_field :city_state_zip %>
            <%= f.label :home_phone %>
            <%= f.text_field :home_phone %>
          </div>
          <div class="span4">
            <div>
              <%= image_tag(@family.photo_url, :id => 'photo') %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span3 husband_fields">

            <%= f.label :husband_email %>
            <%= f.text_field :husband_email %>
            <%= f.label :husband_phone %>
            <%= f.text_field :husband_phone %>
            <%= f.label :husband_birthday %>
            <%= text_field_tag "husband_birthday", f.object.husband_birthday.try(:strftime, '%m/%d'), :class=>'date' %>
            <%= f.hidden_field :husband_birthday %>
          </div>
          <div class="span3 wife_fields">

            <%= f.label :wife_email %>
            <%= f.text_field :wife_email %>
            <%= f.label :wife_phone %>
            <%= f.text_field :wife_phone %>
            <%= f.label :wife_birthday %>
            <%= f.hidden_field :wife_birthday %>
            <%= text_field_tag "wife_birthday", f.object.wife_birthday.try(:strftime, '%m/%d'), :class=>'date' %>
          </div>
          <div class="span4">
           <%= label_tag :photo, "New Photo" %>
           <%= f.file_field :photo %>
           <label for='remote_photo_url'>Or Photo URL</label><%= f.text_field :remote_photo_url %>
           <%= f.label :anniversary %>
           <%= text_field_tag "anniversary", f.object.anniversary.try(:strftime, '%m/%d'), :class=>'date' %>
           <%= f.hidden_field :anniversary %>
         </div>
       </div>
       <% if is_admin? %>
       <fieldset>
        <legend>Notes</legend>
        <div class="row">
          <div class="span12 admin_fields">
            <%= f.text_area :notes, :rows => 3, :cols =>"", :class => 'span6' %>
          </div>
        </div>
      </fieldset>
      <% end %>
      <div class="form-actions">
        <%= f.submit "Save", :class => "btn btn-primary btn-large" %>
        <%= link_to 'Cancel', families_path, :class => "btn" %>
      </div>
      <% end %>
      <script type="text/javascript">
      $(function() {
        $('#husband_birthday').datepicker({dateFormat: 'mm/dd', altField: '#family_husband_birthday', altFormat: 'yy-mm-dd'});
        $('#wife_birthday').datepicker({dateFormat: 'mm/dd', altField: '#family_wife_birthday', altFormat: 'yy-mm-dd'});
        $('#anniversary').datepicker({dateFormat: 'mm/dd', altField: '#family_anniversary', altFormat: 'yy-mm-dd'});
        $('.date').change(function(){
          if (!$(this).val()) $('#' + 'family_' + $(this).attr('id')).val('');
        });
      });
      </script>