<div data-role="page"  id="family_show_page">
	<div data-role="header" data-id="head" data-theme="b">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>Contact</h1>
	</div>
	<div data-role="content">	
		<div style="float:right">
			<%= image_tag(@family.photo_url(:thumb)) %>
		</div>
		<h1><%=@family.full_name%></h1>
		<div>
			<a href="http://maps.google.com/maps?q=<%=@family.address.gsub(' ', '+')%>+<%=@family.city_state_zip.gsub(' ', '+')%>"><%=@family.address%><br/><%=@family.city_state_zip%></a>
		</div>
		<h2><%=@family.husband_name%></h2>
		<div>
			<a href="tel:<%=@family.husband_phone%>"><%=@family.husband_phone%></a><br/>
			<a href="mailto:<%=@family.husband_email%>"><%=@family.husband_email%></a>
		</div>
		<h2><%=@family.wife_name%></h2>
		<div>
			<a href="tel:<%=@family.wife_phone%>"><%=@family.wife_phone%></a><br/>
			<a href="mailto:<%=@family.wife_email%>"><%=@family.wife_email%></a>
		</div>
	</div><!-- /content -->
</div><!-- /page -->

