<h1>Settings</h1>
<% if flash[:notice] %>
<div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %></div>
<% end %>
<% if @settings.errors.any? %>
<div class="alert alert-error">
  <ul>
    <% @settings.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= form_for @settings do |f| %>
<%=f.label :group_name %>
<%=f.text_field :group_name %>	
<%=f.label :group_description%>
<%=f.text_area :group_description, :rows => 3, :cols =>""  %> 
<% if !@settings.logo.blank? %>
<div>
  <label for='logo'>Current Group Logo</label>
  <%= image_tag(@settings.logo_url, :id => 'logo') if @settings.logo? %>
</div>
<% end %>
<%= label_tag :logo, "New Group Logo" %>
<%= f.file_field :logo %>
<%=f.label :user_password %>
<%=f.password_field :user_password, :value => @settings.user_password %>  
<%=f.label :admin_password %>
<%=f.password_field :admin_password, :value => @settings.admin_password %>  
<%=f.label :google_calendar_username %>
<%=f.text_field :google_calendar_username %>  
<%=f.label :google_calendar_password %>
<%=f.password_field :google_calendar_password, :value => @settings.google_calendar_password %> 
<%=f.label :contact_email%>
<%=f.text_field :contact_email %> 
<% if !@settings.app_icon.blank? %>
<div>
  <label for='app_icon_image'>Current App Icon </label>
  <%= image_tag(@settings.app_icon_url, :id => 'app_icon_image') if @settings.app_icon? %>
</div>
<% end %>
<%= label_tag :app_icon, "New App Icon (300x300 size is best)" %>
<%= f.file_field :app_icon %>
<%=f.label :welcome_email_html%>
<%= f.cktext_area :welcome_email_html %>
<div class="form-actions">
  <%= f.submit "Save", :class => "btn btn-primary btn-large" %>
</div>
<% end %>