<p><strong><%= @family.full_name_first %><strong>,</p>

<%= raw Setting.cached.welcome_email_html%>
<div style="padding: 10px; background-color: #f9f6c5;">
	To visit the <%= Setting.cached.group_name%> website, go to <a href="http://<%=@host%>">http://<%=@host%></a> and use the password: <span style="font-weight:bold; font-size:larger;"><%=@pwd%></span>.
</div>