  <%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert" href="#">&times;</a>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <% if is_admin? %>
  <div class="admin_fields">
  <h2>Admin Only</h2>
    <div class="row">
    <div class="span3">
    <ul class="inline">
     <li>
       <%= f.label :is_member, "Members", :class => "checkbox inline" %>
       <%= f.check_box :is_member %> </li>
       <li><%= f.label :is_active, "Active", :class => "checkbox inline" %>
         <%= f.check_box :is_active %></li>
        <% if @contact.new_record? %>
        <li><%= f.label :mark_initial_attendance_on_create, "Mark Present for Attendance", :class => "checkbox inline" %>
          <%= f.check_box :mark_initial_attendance_on_create%></li>
        <% end %>
        <% if !@contact.new_record? && !@contact.last_attendance_date.nil? %>
           <div id="admin-attendance-date">
            First Attendance: <%= @contact.first_attendance_date.try(:strftime, '%m/%d/%y') %>
            <br/>
            Last Attendance: <%= @contact.last_attendance_date.try(:strftime, '%m/%d/%y') %></div>
        <% end %>
    </ul>
    </div>
    <div class="span4">
     <%= f.label :notes %>
    <%= f.text_area :notes, :rows => 2, :cols =>"", :class => 'span6' %>
    </div>
    </div>
    </div>
    <% end %>
    <div class="row">
            <div class="span3">
              <%= f.label :last_name %>
              <%= f.text_field :last_name, :tabindex => 1 %>
              <%= f.label :city_state_zip %>
              <%= f.text_field :city_state_zip, :tabindex => 3 %>
              <div class="male_fields">
                <%= f.label :first_name, "His Name" %>
                <%= f.text_field :first_name, :class => 'male_field', :tabindex => 5 %>
                <%= f.label :email, "His Email" %>
                <%= f.text_field :email, :tabindex => 6 %>
                <%= f.label :phone, "His Phone" %>
                <%= f.text_field :phone, :tabindex => 7 %>
                <%= f.label :birthday, "His Birthday" %>
                <%= text_field_tag "birthday", f.object.birthday.try(:strftime, '%m/%d'), :class=>'date', :tabindex => 8 %>
                <%= f.hidden_field :birthday %>
              </div>
            </div>
            <div class="span3">
              <%= f.label :address %>
              <%= f.text_field :address, :tabindex => 2 %>
              <%= f.label :home_phone %>
              <%= f.text_field :home_phone, :tabindex => 4 %>
              <div class="female_fields">
                <%= f.label :spouse_name, "Her Name" %>
                <%= f.text_field :spouse_name, :class => 'female_field', :tabindex => 9 %>
                <%= f.label :spouse_email, "Her Email" %>
                <%= f.text_field :spouse_email, :tabindex => 10 %>
                <%= f.label :spouse_phone, "Her Phone" %>
                <%= f.text_field :spouse_phone, :tabindex => 11 %>
                <%= f.label :spouse_birthday, "Her Birthday" %>
                <%= f.hidden_field :spouse_birthday, :tabindex => 12 %>
                <%= text_field_tag "spouse_birthday", f.object.spouse_birthday.try(:strftime, '%m/%d'), :class=>'date', :tabindex => 13 %>
              </div>
            </div>
            <div class="span4">
              <div>
                <%= image_tag(@contact.photo_url, :id => 'photo') %>
                 <%= label_tag :photo, "New Photo" %>
             <%= f.file_field :photo, :tabindex => 14 %>
             <label for='remote_photo_url'>Or Photo URL</label><%= f.text_field :remote_photo_url %>
             <%= f.label :anniversary %>
             <%= text_field_tag "anniversary", f.object.anniversary.try(:strftime, '%m/%d'), :class=>'date', :tabindex => 15 %>
             <%= f.hidden_field :anniversary %>
              </div>
            </div>
          </div>
        <div class="form-actions">
         <%= f.submit "Save", :class => "btn btn-primary", :id => "save", :tabindex => 16 %>
         <% if is_admin? %>
         <button type="submit" id="save-send-visitor-email" name="commit" value="save-send-visitor-email" class="btn">
          Save <span class="contact-save-type">(and send Visitor Email)</span>
          </button>
           <button type="submit" id="save-send-new-member-email" name="commit" value="save-send-new-member-email" class="btn">
          Save <span class="contact-save-type">(and send New Member Email)</span>
          </button>
          <% end %>
          <%= link_to 'Cancel', request.referrer, :class => "btn" %>
        </div>
        <% end %>
        <script type="text/javascript">
          function setupSaveButtons() {
             if ($("#contact_is_member").prop("checked")) {
              $("#save-send-visitor-email").hide();
              if ($("#contact_is_member").data("clicked")) {
                $("#save-send-new-member-email").prependTo($(".form-actions")).show();
              }
            } else {
               $("#save-send-new-member-email").hide();
                $("#save-send-visitor-email").show();
              if ($("form").hasClass("new_contact")) {
                $("#save-send-visitor-email").prependTo($(".form-actions"));
              } else {
                 $("#save").prependTo($(".form-actions"));
              }
            }

             $(".form-actions button, .form-actions input").removeClass("btn-primary").filter(":visible").first().addClass("btn-primary");
          }

        $(function() {
          $('#birthday').datepicker({dateFormat: 'mm/dd', altField: '#contact_birthday', altFormat: 'yy-mm-dd'});
          $('#spouse_birthday').datepicker({dateFormat: 'mm/dd', altField: '#contact_spouse_birthday', altFormat: 'yy-mm-dd'});
          $('#anniversary').datepicker({dateFormat: 'mm/dd', altField: '#contact_anniversary', altFormat: 'yy-mm-dd'});
          $('.date').change(function(){
            if (!$(this).val()) $('#' + 'contact_' + $(this).attr('id')).val('');
          });

          $("#contact_is_member").change(function(){
            $("#contact_is_member").data("clicked", true);
            setupSaveButtons();
          });

          setupSaveButtons();
        });
        </script>