<div data-role="page"  id="contact_show_page">
	<div data-role="header" data-position="fixed" data-id="head" data-theme="b">
		<a data-rel="back" data-icon="arrow-l">Back</a>
		<h1>Member</h1>
	</div>
	<div data-role="content">	
		<div class="pull-right">
			<%= image_tag(@contact.photo_url(:thumb)) %>
		</div>
		<h1><%=@contact.full_name%></h1>
		<div>
			<a href="http://maps.google.com/maps?q=<%=@contact.address.gsub(' ', '+')%>+<%=@contact.city_state_zip.gsub(' ', '+')%>"><%=@contact.address%><br/><%=@contact.city_state_zip%></a>
		</div>
		<h2><%=@contact.first_name%></h2>
		<div>
			<a href="tel:<%=@contact.phone%>"><%=@contact.phone%></a><br/>
			<a href="mailto:<%=@contact.email%>"><%=@contact.email%></a>
		</div>
		<h2><%=@contact.spouse_name%></h2>
		<div>
			<a href="tel:<%=@contact.spouse_phone%>"><%=@contact.spouse_phone%></a><br/>
			<a href="mailto:<%=@contact.spouse_email%>"><%=@contact.spouse_email%></a>
		</div>
	</div><!-- /content -->
</div><!-- /page -->
