<%= form_for @podcast, :html => {:multipart => true} do |f| %>
<% if @podcast.errors.any? %>
<div class="alert alert-error">
  <ul>
    <% @podcast.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<% end %>
<div class="row">
  <div class="span4">
   <%= f.label :date %>
   <%= text_field_tag "date", f.object.date.strftime('%m/%d/%Y'), :class => 'date' %>
   <%=  f.hidden_field :date %>
   <%= f.label :speaker %>
   <%= f.text_field :speaker %>
   <%= f.label :title %>
   <%= f.text_field :title %>
 </div>
 <div class="span8">
  <% if !@podcast.audio.path.blank? %>
  <label>Current File</label>
  <i class="icon-headphones"></i>
   <em><%= @podcast.audio.path%></em> 
  <% end %>
  <div id="new_audio_container">
  <%= f.label :audio, "New File" %>
  <%= f.file_field :audio %>
</div>
  </div>
</div>

<div class="form-actions">
  <%= f.submit "Save", :class => "btn btn-primary" %>
  <%= link_to 'Cancel', podcasts_path, :class => "btn" %>
</div>

<% end %>
<script type="text/javascript">
$(function() {
  $('#date').datepicker({dateFormat: 'mm/dd/yy', altField: '#podcast_date', altFormat: 'yy-mm-dd'});
});
</script>