<% if flash[:notice] %>
<div class="alert alert-success"><i class="icon-check"></i><%= flash[:notice] %>
<a class="close" data-dismiss="alert" href="#">&times;</a>
</div>
<% end %>
<div class="row">
  <div class="span7">
    <ul id="attendance_date" class="nav nav-pills">
      <% @dates.each do |d| %>
      <li><a href="#" class="date_link" date="<%=d[:date]%>"><%=d[:description]%></a></li>
      <% end %> 
    </ul>
  </div>
  <div class="span5">
    <%= link_to 'Add New Visitor', new_contact_path, :class => 'btn btn-small btn-success' %>
    <%= link_to 'Print Attendance Sheet', print_attenance_path, :class => 'btn btn-small', :target => '_blank' %>
  </div>
</div>
<div class="row">
  <div class="span5">
    <h2>Members</h2>
    <table id="member_attendance" class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |c| %>
        <tr>
          <td><a href="<%=edit_contact_url(c)%>"><%=c.full_name%></a></td>
          <td><input type="checkbox" contact_id="<%=c.id%>" class="present"/></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span5">
    <% if @visitors.count > 0 %>
    <h2>Visitors</h2>
    <table id="visitor_attendance" class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <% @visitors.each do |c| %>
        <tr contact_id='<%=c.id%>'>
         <td><a href="<%=edit_contact_url(c)%>"><%=c.full_name%></a></td>
          <td><input type="checkbox" contact_id="<%=c.id%>" class="present"/></td>
       </tr>
       <% end %>
     </tbody>
   </table>
   <%end%>
 </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  Attendance.init();
});
</script>