<ul id="attendance_date" class="nav nav-pills">
  <% @dates.each do |d| %>
  <li><a href="#" class="date_link" date="<%=d[:date]%>"><%=d[:description]%></a></li>
  <% end %> 
</ul>
<div class="row">
  <div class="span5">
    <h2>Members</h2>
    <table id="member_attendance" class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |c| %>
        <tr>
          <td><a href="<%=edit_family_url(c)%>"><%=c.full_name%></a></td>
          <td><input type="checkbox" family_id="<%=c.id%>" class="present"/></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span5">
    <% if @visitors.count > 0 %>
    <h2>Visitors</h2>
    <table id="visitor_attendance" class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Present</th>
        </tr>
      </thead>
      <tbody>
        <% @visitors.each do |c| %>
        <tr family_id='<%=c.id%>'>
         <td><a href="<%=edit_family_url(c)%>"><%=c.full_name%></a></td>
          <td><input type="checkbox" family_id="<%=c.id%>" class="present"/></td>
       </tr>
       <% end %>
     </tbody>
   </table>
   <%end%>
 </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('.date_link').click(function(){
    selectDate($(this));
  });

  $('input.present').change(function(){
    var date = $('#attendance_date li.active a.date_link').attr('date');
    save(date, $(this).attr('family_id'), $(this).prop('checked'));
  });

  selectDate($('#attendance_date .date_link').first());
});

function selectDate(dateLink){
 $('#attendance_date li').removeClass('active');
 dateLink.closest('li').addClass('active');
 load(dateLink.attr('date'));
}

function load(date)
{
  $('input.present').prop('checked', false);
  $.getJSON('/attendances/' + date, function(data) {
    $.each(data, function(key, val) {
      $('input.present[family_id="' + val.family_id + '"]').prop('checked', val.present);
    });
  });
}

function save(date, family_id, present){
  var request = { 'present' : present }
  $.ajax({
    url: 'attendances/' + date + '/' + family_id,
    type: 'PUT',
    data: JSON.stringify(request),
    contentType: 'application/json'
  }).done(function(data){
   console.log('done');
 }).fail(function(jqXHR, textStatus) {
  console.log('fail');
});
}
</script>