<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=Setting.cached.group_name%> Mobile</title>
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
  <!--Omit width=device-width for iPhone 5 -->
  <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)" />
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="apple-mobile-web-app-title" content="<%=Setting.cached.group_name.split[0]%>">
  <% if Setting.cached.app_icon? %>
  <link rel="apple-touch-icon" href="<%=Setting.cached.app_icon_url(:mobile_icon)%>">
  <link rel="apple-touch-icon-precomposed" href="<%=Setting.cached.app_icon_url(:mobile_icon)%>">
  <link rel="apple-touch-startup-image" href="<%=Setting.cached.app_icon_url(:ios_startup)%>">
  <% end %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
  <%= stylesheet_link_tag "mobile" %>
  <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
   <%= javascript_include_tag "mobile" %>
  <script type="text/javascript">
    $(document).on("mobileinit", function(){
      //$.mobile.defaultPageTransition = 'slide';
    });
  </script>
  <%= csrf_meta_tags %>
  <% if !Setting.cached.google_analytics_tracking_id.blank? %>
  <script type="text/javascript">
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%=Setting.cached.google_analytics_tracking_id%>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <% end %>
</head>
<body>
<%= yield %>
</body>

</html>
