<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=Setting.cached.group_name%></title>
  <% if Setting.cached.app_icon? %>
  <link rel="shortcut icon" href="<%=Setting.cached.app_icon_url(:fav_icon)%>">
  <% end %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <% if !Setting.cached.google_analytics_tracking_id.blank? %>
  <script type="text/javascript">
  var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%=Setting.cached.google_analytics_tracking_id%>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <% end %>
</head>
<body class="<%=params[:controller]%> <%= is_admin? ? 'admin' : ''%>">
  <% if logged_in? %>
  <div id="logout"><%=link_to 'Logout', '/logout', :class=>'btn btn btn-mini' %></div>
  <% end %>
  <% if is_admin? %>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" id="nav_title" href="<%=root_url%>">ADMIN</a>
      <ul class="nav">
        <%=nav_link("Home", root_url) %>
        <%=nav_link("Contacts", contacts_path) %>
        <%=nav_link("Attendance", attendances_path) %>
        <%=nav_link("Signups", signups_path) %>
        <%=nav_link("Contact Queue", contact_queue_items_path) %>
        <%=nav_link("Podcast", podcasts_path) %>
        <%=nav_link("Tools", '/tools') %>
        <%=nav_link("Settings", '/settings') %>
      </ul>
    </div>
  </div>
  <% end %>
  <div id="content">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <% if mobile_agent? %>
  <div id="switch-mobile-footer">
    <a class="btn btn-primary" href="/?mobile=1">Switch to Mobile Site</a>
  </div>
  <% end %>
  <script type="text/javascript">
  $(function() {
    $('.alert').alert();
  });
  </script>
</body>
</html>
