<% content_for :content do %>
<div class="row">
	<div class="span3">
		<div class="well well-small">
			<strong>Reports</strong>
			<ul class="nav nav-list">
				<li class="nav-header">Contacts</li>
				<li><%=report_nav_link("Upcoming Events", '/reports/upcoming_dates/')%></li>
				<li class="nav-header">Attendance</li>
				<li><%=report_nav_link("Attendance Counts", '/reports/attendance_counts/')%></li>
				<li><%=report_nav_link("Last Date Present", '/reports/attendance_date/last')%></li>
				<li class="nav-header">Email Lists</li>
				<li><%=report_nav_link("Men and Women", '/reports/email_list/active')%></li>
				<li><%=report_nav_link("Men Only", '/reports/email_list/men')%></li>
				<li><%=report_nav_link("Women Only", '/reports/email_list/women')%></li>
				<li><%=report_nav_link("Vistors", '/reports/email_list/visitors')%></li>
			</ul>
		</div>
	</div>
	<div class="span9">
		<%= content_for?(:reports_content) ? yield(:reports_content) : yield %>
	</div>
</div>
<% end %>

<%= render :template => 'layouts/application' %>
